<!DOCTYPE html>
<html lang="no">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes" name="viewport">
  <title>Greedy Alligator</title>
  <script src="static/greedy-alligator.js"></script>
</head>

<body>
  <div id="app">{{content|safe}}</div>
</body>

</html>
